body {
  font-family: 'roboto', 'Montserrat', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .body_lock {
    overflow: hidden;
  }
}

.btn {
  width: 253px;
  height: 63px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  &_orange {
    background: #FF6647;
    color: #fff;
  }
  &_grey {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 102, 71, 1);
  }
  &_small {
    width: 143px;
    height: 40px;
  }
}

.contact_phone {
  font-weight: bold;
}
.contact_email {
  font-weight: 300;
  font-size: 13px;
}
.container {
  padding: 0 70px;
  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

.section_title {
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;
  color: #383838;
  margin: 30px 0;
  @media (max-width: 992px) {
    font-size: 45px;
    line-height: 55px;
  }
  @media (max-width: 768px) {
    font-size: 35px;
    line-height: 41px;
  }
}

.mt-100 {
  margin-top: 100px;
}
.text-center {
  text-align: center;
}

#header {
  &_container {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      position: relative;
    }
  }
  .burger_menu {
    display: none;
  }
  .find {
    display: flex;
    align-items: center;
    flex-direction: row;
    &_left {
      display: flex;
    }
    &_img {
      margin-top: 8px;
    }
    &_input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      top: 0;
      bottom: 0;
      right: -100%;
      position: absolute;
      transition: 0.5s;
      .find_img {
        margin-left: 15px;
        margin-right: 15px;
      }
      input {
        border: none;
        background: transparent;
        font-size: 16px;
        line-height: 28px;
        outline: none;
        color: white;
      }

    }
    &_active {
      right: 0;
      transition: 0.5s;
      z-index: 15;
      background-color: rgb(36, 36, 36);
    }
    @media (max-width: 768px){
      &_input_mobile {
        top: 0;
        left: -100%;
      }
      &_active {
        left: 0;
      }
    }
  }
  .find_mobile {
    display: none;
  }
  .header_content {
    display: flex;
    flex: 0 1 80%;
    justify-content: space-between;
    #nav_header {
      @media (min-width: 769px) {
        position: relative;
        overflow: hidden;
      }
    }
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
      }
      a {
        text-decoration: none;
        color: #fff;
      }
      .nav_link {
        height: 70px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
        @media (max-width: 1180px) {
          padding: 0 5px;
        }
      }

    }
    #header_contact {
      display: flex;
      align-items: center;
      @media (max-width: 992px) {
        display: none;
      }
      a {
        text-decoration: none;
        color: #fff;
      }
      #contact_link {
        text-align: right;
        margin-right: 10px;
      }
      .social {
        display: flex;
        .whatsapp div {
          -webkit-mask: url(/img/Group1340.svg) no-repeat 50% 50%;
          mask: url(/img/Group1340.svg) no-repeat 50% 50%;
          background-color: rgba(255, 255, 255, 0.3);
          &:hover {
            background-color: rgb(37, 211, 102);
          }
        }
        .viber div {
          -webkit-mask: url(/img/Group1341.svg) no-repeat 50% 50%;
          mask: url(/img/Group1340.svg) no-repeat 50% 50%;
          background-color: rgba(255, 255, 255, 0.3);
          &:hover {
            background-color: rgb(102, 92, 172);
          }
        }
        .viber, .whatsapp {
          margin-left: 6px;
          width: 32px;
          height: 32px;
          mask-size: 50%;
          -webkit-mask-size: 50%;
          border: 1px solid rgba(255, 255, 255, 0.15);
          box-sizing: border-box;
          border-radius: 50%;
          div {
            width: 32px;
            height: 32px;
            cursor: pointer;
          }
        }
        @media (max-width: 1366px) {
          display: none;
        }
      }
    }
  }
  .close_burger, .close_finder {
    display: none;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.34);
    position: relative;
    cursor: pointer;
    align-self: flex-end;
    &:before, &:after {
      content: '';
      position: absolute;
      background-color: #000;
      top: 9px;
      left: 3px;
      width: 13px;
      height: 2px;
      border-radius: 4px;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    @media (max-width: 768px) {
      width: 25px;
      height: 25px;
      &:before, &:after {
        top: 11px;
        left: 5px;
        width: 15px;
        height: 3px;
      }
    }
  }
  .close_finder {
    display: block;
    align-self: center;
    margin-right: 30px;
    &:before, &:after {
      background-color: rgb(29, 29, 29);
    }
  }
  @media (max-width: 768px) {
    .find_mobile {
      display: block;
    }
    #logo {
      order: 1;
    }
    .close_burger {
      display: block;
    }
    .burger_menu {
      order: 2;
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      span {
        position: absolute;
        background-color: white;
        width: 100%;
        height: 2px;
        left: 0;
        top: 8px;
      }
      &:before, &:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
      }
      &:after {
        top: 16px;
      }
    }
    .header_content {
      position: fixed;
      background-color: black;
      height: 100vh;
      z-index: 10;
      left: 0;
      right: 0;
      top: -100vh;
      transition: 0.5s;
      display: flex;
      flex-direction: column;
      &_active {
        top: 0;
      }
      #nav_header {
        padding: 20px;
        display: flex;
        flex-direction: column;
        ul {
          display: flex;
          flex-direction: column;
          .nav_link {
            height: 30px;
            padding: 0;
            font-size: 20px;
            line-height: 45px;
          }
          .find {
            display: none;
          }
        }
      }
      #header_contact {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        #contact_link {
          text-align: left;
        }
      }
    }
  }
}

#firstsection {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(/img/firstsection.jpg);
  background-size: cover;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: -70px;
  &_title {
    text-align: center;
    width: 930px;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 80px;
  }
  &_stats {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    .stats_item {
      flex: 1 1 33%;
      text-align: center;
      border-top: 1px solid #FF6647;
      border-right: 1px solid #FF6647;
      padding: 19px 0;
      &:last-child {
        border-right: none;
      }
      h2 {
        margin: 0;
      }
    }
  }
  @media (max-width: 992px) {
    #firstsection {
      &_title {
        width: 80%;
        font-weight: bold;
        font-size: 55px;
        line-height: 65px;
      }
    }
  }
  @media (max-width: 768px) {
    #firstsection {
      &_title {
        width: 80%;
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;
      }
    }
    .stats_item {
      border: none;
    }
  }
}

#catalog {
  margin: 70px 0;
  overflow: hidden;
  .cards {
    display: flex;
    gap: 19px;
    .card {
      flex: 1 1 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 0 20px 20px;
      height: 345px;
      background: conic-gradient(from 203.84deg at 67.39% 60.64%, #000000 0deg, #343434 360deg);
      border-radius: 10px;
      color: #fff;
      &_title {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
      }
      &_img {
        align-self: flex-end;
      }
      &:last-child {
        background: conic-gradient(from 203.84deg at 67.39% 60.64%, #FF6647 0deg, #BF472F 360deg);
        .card_img {
          align-self: center;
          margin-top: -20px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    overflow: hidden;
    .cards {
      .card {
        flex: 0 0 45%;
      }
    }
  }
  @media (max-width: 425px) {
    overflow: hidden;
    .cards {
      .card {
        flex: 0 0 65%;
      }
    }
  }
}

.slider {
  padding: 40px;
  .slick {
    &-arrow:before {
      color: #FF6647;
    }
    &-dots {
      button:before {
        font-size: 9px;
      }
      li.slick-active button:before {
        color: #FF6647;
        opacity: 1;
      }
    }
    &_item {
      display: flex;
      gap: 40px;
      padding: 50px 150px;
      @media (max-width: 1366px) {
        padding: 50px 30px;
      }
    }
    &_img {
      width: 50%;
      display: flex;
      align-items: center;
      img {
        width: 100%;
      }
    }
    &_text {
      width: 50%;
      img {
        width: 100%;
      }
    }
    &_descr {
      font-weight: 300;
      font-size: 16px;
      line-height: 27px;
      color: #383838;
    }
    &_footer {
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      color: #383838;
      display: flex;
      align-items: center;
      gap: 30px;
    }
    @media (max-width: 768px) {
      .slick_item {
        flex-direction: column;
        padding: 25px;
        .slick_img {
          width: 100%;
        }
        .slick_text {
          width: 100%;
        }
        .slick_descr {
          font-weight: 300;
          font-size: 13px;
          line-height: 21px;
        }
        .slick_footer {
          font-weight: 700;
          font-size: 13px;
          line-height: 27px;
        }
      }
    }
  }
}
#fullset {
  background-image: url(/img/fullset.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 75px 0;
  &_title {
    width: 70%;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
  }
  &_descr {
    display: flex;
    margin-top: 80px;
    color: white;
    gap: 100px;
    position: relative;
    @media (max-width: 992px) {
      flex-wrap: wrap;
    }
    &_line {
      position: absolute;
      left: 0;
      right: 0;
      top: 30px;
      z-index: 0;
      width: 83%;
      img {
        width: 100%;
      }
      @media (max-width: 1100px) {
        display: none;
      }
    }
    .fullset_item {
      flex: 1 1 25%;
      z-index: 5;
      &_img {
        display: flex;
        width: 109px;
        height: 109px;
        background-color: #FF6647;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-bottom: 33px;
      }
      &_title {
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 14px;
      }
      &_descr {
        font-size: 16px;
        line-height: 23px;
        color: rgba(255, 255, 255, 0.9);
      }
      @media (max-width: 992px) {
        flex: 1 1 30%;
      }
    }
  }
  @media (max-width: 768px) {
    overflow: hidden;
    #fullset_title {
      font-weight: normal;
      font-size: 35px;
      line-height: 41px;
    }
    #fullset_descr {
      margin-top: 10px;
      gap: 20px;
      flex-direction: column;
      .fullset_item {
        display: flex;
        gap: 20px;
        &_img {
          flex: 0 0 68px;
          height: 68px;
          img {
            width: 50%;
          }
        }
        &_title {
          font-size: 16px;
          line-height: 23px;
          margin: 0;
        }
        &_descr {
          font-weight: 300;
          font-size: 13px;
          line-height: 21px;
        }
      }
    }
  }
}

.partners {
  &_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &_img {

    width: 15%;
    text-align: center;
  }
}
@media (max-width: 992px) {
  #partners {
    overflow: hidden;
    .partners_content {
    }
    .partners_img {
      flex: 1 1 25%;
      img {
        width: 100%;
      }
    }
  }
}
@media (max-width: 768px) {
  #partners {
    overflow: hidden;
    .partners_content {
    }
    .partners_img {
      flex: 1 1 25%;
      img {
        width: 100%;
      }
    }
  }
}

#callback {
  background: conic-gradient(from 203.84deg at 67.39% 60.64%, #F9F9F9 0deg, #F9F9F9 360deg);
  position: relative;
  padding: 90px 0;
  #eclipse {
    position: absolute;
    width: 100vw;
    height: 59px;
    background: #FF6647;
    filter: blur(250px);
    transform: rotate(6.88deg);
  }
  .callme {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 35px;
    margin-top: 70px;
    &_input {
      label {
        display: block;
        text-align: left;
        font-size: 11px;
        font-weight: 700;
        line-height: 13px;
        opacity: 0.7;
        color: black;
        margin-bottom: 10px;
      }
      input {
        font-size: 16px;
        line-height: 19px;
        display: block;
        border: none;
        padding: 10px 0;
        outline: 0;
        background-color: transparent;
        border-bottom: 1px solid rgba(28, 28, 28, 0.3);
      }
    }
  }
  @media (max-width: 768px) {
    overflow: hidden;
    padding: 30px 0;
    .section_title {
      text-align: left;
    }
    .callback_content {
      text-align: left;
    }
    .callme {
      flex-direction: column;
      align-items: center;
      &_input {
        width: 100%;
        input {
          width: 100%;
        }
      }
      button {
        width: 100%;
      }
    }
  }
}

.footer {
  color: rgba(255, 255, 255, 0.5);
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
  }
  &_top {
    background-color: #0C0C0C;
  }
  &_bottom {
    background-color: #1C1C1C;
  }
  &_content {
    padding: 23px 0;
    display: flex;
    justify-content: space-between;
    .footer_links {
      display: flex;
      gap: 60px;
      .links_col {
        display: flex;
        flex-direction: column;
        a {
          font-size: 13px;
          line-height: 28px;
        }
      }
    }
    .footer_contacts {
      text-align: right;
      color: white;
      .contact_email {
        margin-top: 8px;
        margin-bottom: 16px;
      }
      a {
        color: white;
      }
      .adress {
        margin-bottom: 16px;
      }
    }
  }
  &_copyrights {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    line-height: 24px;
  }
  @media (max-width: 768px) {
    overflow: hidden;
    text-align: center;
    &_content {
      flex-direction: column;
      .footer_links {
        flex-direction: column;
        gap: 0;
        margin: 0 -20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
      }
      .footer_contacts {
        text-align: center;
        padding: 20px 0;
      }
    }
    &_copyrights {
      flex-direction: column;
      p {
        margin: 6px 0;
      }
    }

  }
}